h1 {
    color:rgb(139, 139, 139);
    text-align: center;
    font-family: monospace;
    size: 400px;
}

div {
    background-color: black;
}
.Copyright {
    color:blanchedalmond;
    font-family: monospace;
}
.campfirestartbild {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    height: auto; 
}
.startmenu {
    color:blanchedalmond;
    text-align: right;
    font-family: monospace;   

}
